.App {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.business-container {
  background: linear-gradient(135deg);
}

.card {
  border: 2px solid;
  border-radius: 15px;
  background-color: bisque;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  border-bottom: 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.id-details {
  display: flex;
  justify-content: space-between;
}
